<main class="public_customer_unsubscribe_main">
  <h3>本当に退会しますか？</h3>
  <P>
    退会すると、会員登録情報や</br>
    これまでの購入履歴が閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。
  </P>
  <div class="public_customer_unsubscribe_btn">
    <p class="public_customer_unsubscribe_no_btn"><%= link_to "退会しない", customers_path %></p>
    <p class="public_customer_unsubscribe_yes_btn"><%= link_to "退会する", customers_seeyou_path, data: { confirm: '本当に退会しますか？' }, method: :POST %></p>
  </div>
</main>