<main class="public_homes_main">
  <p class="public_homes_main_nav">
    ようこそながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会委員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
  </p>
  <div class="public_homes_main_newitems">
    <h2>新着商品</h2>
    <table>
      <tr>
        <td><%= image_tag('no_image.jpg') %></td>
      </tr>
      <tr>
        <td>商品名</td>
      </tr>
      <tr>
        <td>¥0.000</td>
      </tr>
    </table>
  </div>
</main>