<main class="customer_main_index">
  <div class="customer_main_index_h3">
    <h3>会員一覧</h3>
  </div>
  <div class="customer_main_index_table">
    <table>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.last_name+customer.first_name, admin_customer_path(customer) %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_active == true %>
          有効
          <% elsif customer.is_active == false %>
          退会
          <% else %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</main>