<main class="genre_edit_main">
  <div class="genre_edit_main_h3"><h3>ジャンル編集</h3></div>
  <div class="genre_edit_table">
    <table>
      <tr>
        <th>ジャンル</th>
        <%= form_with model:@genre, local:true do |f| %>
        <td><%= f.text_field :genre_name %></td>
        <td><%= f.submit '変更を保存'%><% end %></td>
      </tr>
    </table>
  </div>
</main>