<main class="admin_genres_main">
  <div class="admin_genre_new">
    <h3 class="admin_genre_new_title">ジャンル一覧・追加</h3>
    <table class="admin_genre_new_table">
      <tr>
        <th>ジャンル</th>
        <th></th>
      </tr>
      <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.genre_name %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
      </tr>
      <% end %>
    </table>
  </div>

</main>