<main class="admin_homes_top_main">
  <h3 class="admin_homes_top_main_title">
    注文履歴一覧
  </h3>
  <table class="admin_homes_top_main_table">
    <tr>
      <th>購入日持</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at, order_path(order.id) %></td>
      <td><%= order.customer.last_name + order.customer.first_name %></td>
      <td>
        <% @sum=0 %>
        <% order.order_details.each do |detail| %>
        <% @sum += detail.amount %>
        <% end %>
        <%= @sum %>
      </td>
    </tr>
    <% end %>
  </table>
</main>