<main class="admin_homes_top_main">
  <h3 class="admin_homes_top_main_title">
    注文履歴一覧
  </h3>
  <table class="admin_homes_top_main_table">
    <tr>
      <th>購入日持</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </table>
</main>